<template>
  <div
    class="job-info-list"
    v-shortkey="{ register: ['shift', 'ctrl', 'alt', 'r'], delete: ['shift', 'ctrl', 'alt', 'd'] }"
    @shortkey="manageData"
  >
    <!-- ボタン操作を行うエリア -->
    <div class="job-info-list__button-group">
      <!-- 左寄せにしたいボタンはこのdivタグ内に記載する -->
      <div class="job-info-list__button-group--left">
        <el-button size="small" type="info" plain @click="showInputDialogAsAddMode">追加</el-button>
        <el-button size="small" type="info" plain @click="showInputDialogAsEditMode">編集</el-button>
        <el-button size="small" type="info" plain @click="deleteJobInfo">削除</el-button>
      </div>

      <!-- 右寄せにしたいボタンはこのdivタグ内に記載する -->
      <div class="job-info-list__button-group--right">
        <el-button size="small" type="info" plain @click="quit">終了</el-button>
      </div>
    </div>

    <!-- Job情報の一覧を表示するテーブル -->
    <job-info-table :data="jobInfoList" @current-change="updateCurrentRow"></job-info-table>

    <!-- Job情報入力ダイアログ (初期表示時は非表示) -->
    <input-dialog
      :visible="inputDialog.visible"
      :default-job-number="inputDialog.defaultJobNumber"
      :default-job-name="inputDialog.defaultJobName"
      :dialog-mode="inputDialog.dialogMode"
      @add="addJobInfo"
      @edit="updateJobInfo"
      @hide="hideInputDialog"
    ></input-dialog>
  </div>
</template>

<script>
import { dbService } from '../service/Db.service';
import { Constants } from '../constants/Constants';
import { MessageBoxService } from '../service/MessageBox.service';
import { ObjectUtil } from '../util/Object.util';
import JobInfoTable from '../components/JobInfoTable.vue';
import InputDialog from '../components/InputDialog.vue';

export default {
  /**
   * 本コンポーネントで使用する子コンポーネント
   */
  components: { JobInfoTable, InputDialog },
  /**
   * 本コンポーネントに関するデータ (画面表示や処理に必要なデータはここに定義する)
   */
  data() {
    return {
      /** Job情報一覧に表示するテーブルデータ */
      jobInfoList: [],
      /** 現在選択している行 */
      currentRow: null,
      /** 入力ダイアログに関係する情報 */
      inputDialog: {
        /** 表示制御値 (trueでダイアログを表示、falseでダイアログを非表示) */
        visible: false,
        /** 初期表示するJob番号 (Job情報の編集時に設定する) */
        defaultJobNumber: '',
        /** 初期表示するJob名称 (Job情報の編集時に設定する) */
        defaultJobName: '',
        /** ダイアログモード (追加モード or 編集モード) */
        dialogMode: Constants.DIALOG_MODE.INITIAL
      },
      /** メッセージボックスを用いた処理で利用する MessageBoxService のインスタンス */
      messageBoxService: new MessageBoxService(this)
    };
  },
  /**
   * 初期表示処理
   * (初期表示のタイミングで自動的にこのメソッドが呼び出される)
   */
  created() {
    this.jobInfoList = dbService.getJobInfoList();
  },
  /**
   * イベント処理を記述する部分
   */
  methods: {
    /**
     * [Job情報入力ダイアログ] を、 ダイアログモード: "追加" で起動する
     */
    showInputDialogAsAddMode() {
      /**
       * TODO?: もしかすると、 [Job情報入力ダイアログ > Job番号インプット] と [Job情報入力ダイアログ > Job名称インプット] に
       *        初期表示する値を、ここの時点で初期化しておく必要があるかもしれません。。。 (その理由は後々分かると思います。)
       */
      this.inputDialog.defaultJobNumber = '';
      this.inputDialog.defaultJobName = '';

      // ダイアログを追加モードに設定する
      this.inputDialog.dialogMode = Constants.DIALOG_MODE.INPUT.ADD;
      // ダイアログを表示するために、表示制御値をtrueに設定する (trueに設定することでダイアログが表示される)
      this.inputDialog.visible = true;
    },
    /**
     * [Job情報入力ダイアログ] を、 ダイアログモード: "編集" で起動する
     */
    showInputDialogAsEditMode() {
      // Job情報が未選択の場合
      if (ObjectUtil.isEmpty(this.currentRow)) {
        /**
         * TODO: Job情報が選択されていなかった場合のエラーメッセージを出力してみましょう。
         *
         *       エラーメッセージ用のメッセージボックスを呼び出すには、以下の形式で記述します。
         *
         *       this.messageBoxService.showError(<エラーメッセージ内容>);
         *
         *       <エラーメッセージ内容> は、表示したいメッセージの文字列で置き換えてください。
         *       例: this.messageBoxService.showError('エラー！');
         */
        this.messageBoxService.showError(Constants.MESSAGE_BOX.MESSAGE.ERROR.NO_SELECTION);
      } else {
        /**
         * TODO: Job情報入力ダイアログが表示された際に、 Job情報入力ダイアログ > Job番号インプット に予め表示するため、選択行データのJob番号を設定しましょう。
         *
         *       Job情報入力ダイアログ > Job番号インプット の初期表示値を設定するには、以下の形式で記述します。
         *
         *       this.inputDialog.defaultJobNumber = <初期表示するJob番号>
         *
         *       <初期表示するJob番号> は、初期表示したいJob番号で置き換えてください。
         */
        this.inputDialog.defaultJobNumber = this.currentRow.jobNumber;

        /**
         * TODO: Job情報入力ダイアログが表示された際に、 Job情報入力ダイアログ > Job番号インプット に予め表示するため、選択行データのJob番号を設定しましょう。
         *
         *       Job情報入力ダイアログ > Job番号インプット の初期表示値を設定するには、以下の形式で記述します。
         *
         *       this.inputDialog.defaultJobName = <初期表示するJob番号>
         *
         *       <初期表示するJob番号> は、初期表示したいJob番号で置き換えてください。
         */
        this.inputDialog.defaultJobName = this.currentRow.jobName;

        // ダイアログモードを編集モードに設定する
        this.inputDialog.dialogMode = Constants.DIALOG_MODE.INPUT.EDIT;
        // ダイアログを表示するために、表示制御値をtrueに設定する (trueに設定することでダイアログが表示される)
        this.inputDialog.visible = true;
      }
    },
    /**
     * Job情報追加処理
     *
     * 第1引数の newJobInfo に、 [Job情報入力ダイアログ] にて入力したJob情報が設定されます。
     */
    addJobInfo(newJobInfo) {
      try {
        /**
         * TODO: 入力したJob情報を追加する処理を実装してみましょう。
         *
         *       入力したJob情報をDBに追加する処理を呼び出すには、以下の形式で記述します。
         *
         *       dbService.addJobInfo(<入力したJob情報>);
         *
         *       <入力したJob情報> は、相当する変数に置き換えてください。
         */
        dbService.addJobInfo(newJobInfo);

        // DBから最新のJob情報一覧を取得し、テーブルの表示を更新する
        this.updateTable();
      } catch (e) {
        /**
         * TODO: Job番号が重複していた場合のエラーメッセージを出力してみましょう。
         *
         *       入力したJob情報を追加する処理 (dbService.addJobInfo()) にてJob番号が重複していることが発覚した場合に、以降の処理を中断し、
         *       このブロック (catch句) の処理が実行されるようになっています。この性質を利用して、このブロックにエラーメッセージを表示する処理を記述します。
         *
         *       エラーメッセージ用のメッセージボックスを呼び出すには、以下の形式で記述します。
         *
         *       this.messageBoxService.showError(<エラーメッセージ内容>);
         *
         *       <エラーメッセージ内容> は、表示したいメッセージの文字列で置き換えてください。
         *       例: this.messageBoxService.showError('エラー！');
         */
        this.messageBoxService.showError(Constants.MESSAGE_BOX.MESSAGE.ERROR.JOB_NUMBER_IS_DUPLICATED);
      }
    },
    /**
     * Job情報編集処理
     *
     * 第1引数の editedJobInfo に、 [Job情報入力ダイアログ] にて編集したJob情報が設定されます。
     */
    updateJobInfo(editedJobInfo) {
      try {
        /**
         * TODO: 変更したJob情報を更新する処理を実装してみましょう。
         *
         *       変更したJob情報でDBを更新する処理を呼び出すには、以下の形式で記述します。
         *
         *       dbService.updateJobInfo(<編集したJob情報>, <編集する前のJob情報>);
         *
         *       <編集したJob情報> および <編集する前のJob情報> は、相当する変数に置き換えてください。
         */
        dbService.updateJobInfo(editedJobInfo, this.currentRow);

        // DBから最新のJob情報一覧を取得し、テーブルの表示を更新する
        this.updateTable();
      } catch (e) {
        /**
         * TODO: Job番号が重複していた場合のエラーメッセージを出力してみましょう。
         *
         *       変更したJob情報を更新する処理 (dbService.updateJobInfo()) にてJob番号が重複していることが発覚した場合に、以降の処理を中断し、
         *       このブロック (catch句) の処理が実行されるようになっています。この性質を利用して、このブロックにエラーメッセージを表示する処理を記述します。
         *
         *       エラーメッセージ用のメッセージボックスを呼び出すには、以下の形式で記述します。
         *
         *       this.messageBoxService.showError(<エラーメッセージ内容>);
         *
         *       <エラーメッセージ内容> は、表示したいメッセージの文字列で置き換えてください。
         *       例: this.messageBoxService.showError('エラー！');
         */
        this.messageBoxService.showError(Constants.MESSAGE_BOX.MESSAGE.ERROR.JOB_NUMBER_IS_DUPLICATED);
      }
    },
    /**
     * Job情報削除処理
     */
    deleteJobInfo() {
      // Job情報が未選択の場合はエラーを表示する
      if (ObjectUtil.isEmpty(this.currentRow)) {
        /**
         * TODO: Job情報が選択されていなかった場合のエラーメッセージを出力してみましょう。
         *
         *       エラーメッセージ用のメッセージボックスを呼び出すには、以下の形式で記述します。
         *
         *       this.messageBoxService.showError(<エラーメッセージ内容>);
         *
         *       <エラーメッセージ内容> は、表示したいメッセージの文字列で置き換えてください。
         *       例: this.messageBoxService.showError('エラー！');
         */
        this.messageBoxService.showError(Constants.MESSAGE_BOX.MESSAGE.ERROR.NO_SELECTION);
      } else {
        // 削除を確認するメッセージボックスを表示し、キャンセルボタンまたはOKボタンのどちらが押されたかによって、適切な処理を行う
        this.messageBoxService.showConfirm(Constants.MESSAGE_BOX.MESSAGE.CONFIRM.DELETE)
          // OKボタンが押された場合の処理
          .then(() => {
            /**
             * TODO: 選択したJob情報を削除する処理を実装してみましょう。
             *
             *       選択したJob情報をDBから削除する処理を呼び出すには、以下の形式で記述します。
             *
             *       dbService.deleteJobInfo(<選択したJob情報>);
             *
             *       <選択したJob情報> は、相当する変数に置き換えてください。
             */
            dbService.deleteJobInfo(this.currentRow);

            // DBから最新のJob情報一覧を取得し、テーブルの表示を更新する
            this.updateTable();
          })
          // キャンセルボタンが押された場合の処理
          .catch((e) => { /** 何もしない */ });
      }
    },
    /**
     * 選択行データを更新する
     */
    updateCurrentRow(currentRow) {
      this.currentRow = currentRow;
    },
    /**
     * DBからJob情報の一覧を取得し、テーブルデータとして設定する
     *
     * DB処理の後にこの処理を行うことで、テーブルの表示が最新化される
     */
    updateTable() {
      this.jobInfoList = dbService.getJobInfoList();
      // 行の選択状態を初期化する
      this.currentRow = null;
    },
    /**
     * [Job情報入力ダイアログ] を非表示にする
     */
    hideInputDialog() {
      this.inputDialog.visible = false;
    },
    /**
     * アプリケーションの終了
     */
    quit() {
      this.messageBoxService.showConfirm(Constants.MESSAGE_BOX.MESSAGE.CONFIRM.QUIT)
        // OKボタンが押された場合の処理
        .then(() => window.ipcRenderer.send('quit'))
        // キャンセルボタンが押された場合の処理
        .catch((e) => { /** 何もしない */ }); ;
    },
    /**
     * [開発用] サンプルデータを登録 or 削除する (隠しコマンドによる実行用)
     */
    manageData(event) {
      if (event.srcKey === 'register') {
        const result = confirm('サンプルデータを登録しますか？ (既存のデータは失われます。)');
        if (result) {
          dbService.registerSampleData();
          this.updateTable();
        }
      }

      if (event.srcKey === 'delete') {
        const result = confirm('サンプルデータを削除しますか？');
        if (result) {
          dbService.deleteSampleData();
          this.updateTable();
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.job-info-list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__button-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    &--left,
    &--right {
      white-space: nowrap;
    }

    &--right {
      margin-left: 25px;
    }
  }
}
</style>
