<!-- Job情報入力ダイアログ 用コンポーネント -->

<template>
  <div class="input-dialog">
    <el-dialog
      :title="title"
      :visible="visible"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      width="75%"
      @close="emitHide"
    >
      <div class="dialog-content">
        <div class="dialog-header">新しいJob情報を入力してください。(*は必須項目です。)</div>

        <!-- Job番号 を入力するフォーム -->
        <div class="job-info-input">
          <div class="input-title">Job番号*: </div>
          <input type="text" v-model="jobNumber" :maxlength="jobNumberMaxLength" @keyup="updateJobNumber">
        </div>

        <!-- Job名称 を入力するフォーム -->
        <div class="job-info-input">
          <div class="input-title">Job名称*: </div>
          <input type="text" v-model="jobName" :maxlength="jobNameMaxLength">
        </div>

        <!-- キャンセルボタン と OKボタン -->
        <div slot="footer" class="dialog-footer">
          <el-button type="info" @click="emitHide">キャンセル</el-button>
          <el-button type="primary" @click="validateInputs">OK</el-button>
        </div>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { Constants } from '../constants/Constants';
import { MessageBoxService } from '../service/MessageBox.service';
import { StringUtil } from '../util/String.util';

export default {
  /**
   * 親コンポーネントからから設定され、本コンポーネントの動きに影響を与えるデータ
   */
  props: {
    /** ダイアログの表示制御値 (trueで表示、falseで非表示) */
    visible: { type: Boolean, default: false, required: true },
    /** ダイアログモード (追加モード or 編集モード) */
    dialogMode: { type: Number, default: Constants.DIALOG_MODE.INPUT.ADD, required: true },
    /** 初期表示するJob番号 (編集時に設定する) */
    defaultJobNumber: { type: String, default: '', required: true },
    /** 初期表示するJob名称 (編集時に設定する) */
    defaultJobName: { type: String, default: '', required: true }
  },
  /**
   * 本コンポーネントに関するデータ (画面表示や処理に必要なデータはここに定義する)
   */
  data() {
    return {
      /** [Job番号インプット] の入力内容 */
      jobNumber: '',
      /** [Job番号インプット] の入力可能文字数 */
      /**
       * TODO: [Job番号インプット] の入力可能文字数は、現在10文字になっています。
       *       設計書で指定された文字数に変更しましょう。
       */
      jobNumberMaxLength: '6',
      /** [Job名称インプット] の入力内容 */
      /**
       * TODO: [Job名称インプット] の入力可能文字数は、現在10文字になっています。
       *       設計書で指定された文字数に変更しましょう。
       */
      jobName: '',
      /** [Job名称インプット] の入力可能文字数 */
      jobNameMaxLength: '20',
      /** 本ダイアログに表示するタイトル (ダイアログモードによって変動) */
      title: '',
      /** メッセージボックスを用いた処理で利用する MessageBoxService のインスタンス */
      messageBoxService: new MessageBoxService(this)
    };
  },
  /**
   * イベント処理を記述する部分
   */
  methods: {
    /**
     * 禁則文字を除去する
     */
    updateJobNumber() {
      /**
       * TODO: [Job番号インプット] の入力内容から、半角英数字以外の文字を除去してみましょう。
       *
       *       入力内容から禁則文字を除去するためには、以下の形式で記述します。
       *
       *       this.jobNumber = StringUtil.deleteProhibitedCharacters(<[Job番号インプット] の入力内容>);
       *
       *       <[Job番号インプット] の入力内容> は、該当する変数に置き換えてください。
       */
      this.jobNumber = StringUtil.deleteProhibitedCharacters(this.jobNumber);
    },
    /**
     * 入力値を検証し、検証内容に合わせた処理を行う
     */
    validateInputs() {
      if (StringUtil.isEmpty(this.jobNumber) || StringUtil.isEmpty(this.jobName)) {
        /**
         * TODO: 必須入力項目が全て入力されていなかった場合のエラーメッセージを出力してみましょう。
         *
         *       エラーメッセージ用のメッセージボックスを呼び出すには、以下の形式で記述します。
         *
         *       this.messageBoxService.showError(<エラーメッセージ内容>);
         *
         *       <エラーメッセージ内容> は、表示したいメッセージの文字列で置き換えてください。
         *       例: this.messageBoxService.showError('エラー！');
         */
        this.messageBoxService.showError(Constants.MESSAGE_BOX.MESSAGE.ERROR.REQUIRED_ITEM_WAS_EMPTY);
      } else if (this.dialogMode === Constants.DIALOG_MODE.INPUT.ADD) {
        // addイベントを親コンポーネントへ通知する
        this.$emit('add', { jobNumber: this.jobNumber, jobName: this.jobName });
        this.emitHide();
      } else if (this.dialogMode === Constants.DIALOG_MODE.INPUT.EDIT) {
        // editイベントを親コンポーネントへ通知する
        this.$emit('edit', { jobNumber: this.jobNumber, jobName: this.jobName });
        this.emitHide();
      }
    },
    /**
     * 本ダイアログを閉じるためのイベントをemit (親コンポーネントへ通知) する
     */
    emitHide() {
      this.$emit('hide');
    }
  },
  /**
   * props または data に定義したデータの値が変更されたときに実施する処理を記述する部分
   */
  watch: {
    /**
     * visible の状態が変化した際に実行される処理
     */
    visible: function (visible) {
      if (visible) {
        this.jobNumber = this.defaultJobNumber;
        this.jobName = this.defaultJobName;

        if (this.dialogMode === Constants.DIALOG_MODE.INPUT.ADD) {
          /**
           * TODO: ダイアログモードが追加モードだった場合に、追加モード用の [ダイアログタイトル] を設定しましょう。
           *
           *       ダイアログタイトルを設定するには、以下の形式で記述します。
           *
           *       this.title = <[ダイアログタイトル]>
           */
          this.title = 'Job情報の追加';
        }

        if (this.dialogMode === Constants.DIALOG_MODE.INPUT.EDIT) {
          /**
           * TODO: ダイアログモードが編集モードだった場合に、編集モード用の [ダイアログタイトル] を設定しましょう。
           *
           *       ダイアログタイトルを設定するには、以下の形式で記述します。
           *
           *       this.title = <[ダイアログタイトル]>
           */
          this.title = 'Job情報の編集';
        }
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.input-dialog {
  & .dialog-content {
    display: flex;
    flex-direction: column;

    & .dialog-header {
      margin-bottom: 10px;
    }

    & .job-info-input {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 10px;

      & .input-title {
        white-space: nowrap;
        width: 100px;
      }

      & input {
        font-size: 14px;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
        height: 40px;
        line-height: 40px;
        transition: border-color .2s;
        color: #606266;
        border: 1px solid #DCDFE6;
        border-radius: 4px;
        outline: 0;
        padding: 0 15px;

        &:focus {
          border-color: rgb(93, 170, 250);
        }
      }
    }

    & .dialog-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 10px;
    }
  }
}
</style>
