<template>
  <div class="job-info-table">
    <el-table :data="data" height="100%" border highlight-current-row @current-change="emitCurrentRowChange">
      <el-table-column type="index" :index="generateRowNumber"></el-table-column>
      <el-table-column prop="jobNumber" label="Job番号" width="180" sortable show-overflow-tooltip></el-table-column>
      <el-table-column prop="jobName" label="Job名称" sortable show-overflow-tooltip></el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  name: 'JobInfoTable',
  props: {
    data: { type: Array, default: () => [], required: true }
  },
  methods: {
    /**
     * 選択行データを更新する為のイベントと、新たに選択された行、直前まで選択していた行のデータをemit (親コンポーネントへ通知) する
     */
    emitCurrentRowChange(currentRow, oldCurrentRow) {
      this.$emit('current-change', currentRow, oldCurrentRow);
    },
    generateRowNumber(index) {
      return index + 1;
    }
  }
};
</script>

<style lang="scss">
.job-info-table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  & .el-table {
    border-top: 1px solid #d3d4d6 !important;
    border-bottom: 1px solid #d3d4d6 !important;
    border-left: 1px solid #d3d4d6 !important;

    & th,
    & td {
      border-bottom: 1px solid #d3d4d6 !important;
      border-right: 1px solid #d3d4d6 !important;
    }

    & .gutter {
      border-right: 1px solid #d3d4d6 !important;
    }

    & .has-gutter tr th {
      padding: 0;
    }

    & .el-table__row td {
      padding: 0;

      & .cell {
        line-height: 34px;
      }
    }
  }
}
</style>
