body {
  font-family: "Consolas", "Yu Gothic";
  font-size: 12px;
  color: #323232;
}

img {
  width: 80%;
  margin-left: 10%;
}

h1 {
  padding-bottom: 0.3em;
  line-height: 1.2;
  border-bottom: 2px solid #00408a;
  position: relative;
  padding-left: 18px;
}

h1:before {
  background: #00408a;
  content: "";
  height: 28px;
  width: 8px;
  left: 0;
  position: absolute;
  top: 3px;
}

h2 {
  padding-bottom: 0.3em;
  line-height: 1.2;
  /* border-bottom: 1px solid #00408a; */
  position: relative;
  padding-left: 18px;
  /*margin-left: 16px;*/
}

h2:before {
  background: #00408a;
  content: "";
  height: 20px;
  width: 5px;
  left: 0px;
  position: absolute;
  top: 3px;
}

h3 {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

code {
  color: #00408a !important;
  padding: 2px;
  background-color: #eeeeee;
  border-radius: 4px;
}

a {
  text-decoration: underline
}