<template>
  <div id="app">
    <job-info-list></job-info-list>
  </div>
</template>

<script>
import JobInfoList from './views/JobInfoList.vue';

export default {
  name: 'app',
  components: { JobInfoList }
};
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: calc(100vw - 10px);
  height: calc(100vh - 10px);
  margin: 5px 0 0 5px;
}
</style>
